body{
    font-family: 'Roboto', sans-serif;
}
h4, h5 {
    line-height: 1.5em;
    margin: 0;
}
.table83-black{
    color:#1E1E1E;
}
.table83-pad10{
    padding: 10px;
}
.table83-header{
    height: 60.69px;
    width: 320px;
    background: #00BABA;

}
.table83-header-text{
    height: 31px;
    font-style:normal;
    font-size: 24px;
    line-height: 14px;
    padding-top: 23px;
    text-align: center;
    color: #ffffff;
}
.table83-message-container{
    width: 320px;
    height: 759px;
    background: #F9F9F9;
    position: absolute;
}
.table83-chat-box{
    width: 286px;
    height: 92px;
    background: #FFFFFF;
    color: #717171;
    border-radius: 5px;
    border-width: 1px;
    margin: 20px 17px 20px 17px;
}
.table83-chat-box img {
    border-radius: 50%;
    float: left;
}
.table83-chat-message-content {
    margin-left: 56px;
}
.table83-chat-time {
    float: right;
    font-size: 10px;
    color: #A6A6A6;
}
.table83-chat-details{
    text-align: left;
    font-size: 13px;
    line-height: 14px;
    color: #717171;
    height: 55px;
    width: 224.13px;
    padding-top:5px;
    font-weight: lighter;

}
.add-button-below{
   position: relative;
   /*border: 1px solid black;*/
   width: 500px;
   height: 750px;
}
.cancel-button-background{
   position: relative;
   /*border: 1px solid black;*/
   width: 320px;
   height: 832.58px;
   background: rgba(0, 0, 0, 0.81);
}
.add-button {
    position: fixed;
    bottom: 90px;
    right: 77%;
    /*width: 50px;*/
    /*margin-left: -110px;*/
}
.cancel-button {
    position: fixed;
    bottom: 80px;
    right: 75%;
    /*width: 50px;*/
    /*margin-left: -30px;*/
}
.camera-button {
    position: fixed;
    bottom: 160px;
    right: 70%;
    /*width: 50px;*/
    /*margin-left: -30px;*/
}
.messages-button {
    position: fixed;
    bottom: 160px;
    left: 10%;
    /*width: 50px;*/
    /*margin-left: -30px;*/
}
.show-options{
   background:rgba(0, 0, 0, 0.81);
   width: 320px;
   height: 832.58px;
}

